@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: rgb(255, 222, 89);
  background: linear-gradient(
    90deg,
    rgba(255, 222, 89, 1) 35%,
    rgba(255, 145, 77, 1) 100%
  );
}
.logo img {
  height: 25px;
  width: 25px;
}
.logo {
  margin-left: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo span {
  color: black;
  font-size: 25px;
}
.container {
  width: 80%;
  margin: 50px auto;
}
.contact-box {
  background: #fff;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
}
.contact-left {
  width: 50%;
}

.contact-right {
  margin-top: 40px;
  width: 50%;
  background: rgb(191, 90, 2);
  height: 100%;
  color: white;
  padding: 0.7rem 1rem;
  min-height: 350px;
  border-radius: 15px;
}
.contact-left h3,
.contact-right h3 {
  margin-bottom: 2rem;
  text-decoration: capitalize;
  font-size: 2rem;
}
h1 {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  flex-wrap: wrap;
}
.input-group {
  width: 50%;
  margin-bottom: 0.7rem;
}
label {
  display: block;
  margin-bottom: 0.2rem;
}
select {
  width: 75%;
}
select,
input {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 8px;
  border: 0.5px solid gray;
}

form button {
  margin-top: 0.4rem;
  padding: 0.5rem 1rem;
  background: rgb(4, 4, 152);
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

form button:hover {
  background: rgb(3, 3, 86);
}
.toggle-input {
  display: none;
}
.show {
  display: block;
}
